@use "../base";
@use "../header";
@use "../footer";
@use "../landingPage";
@use "./form";
@use "./checkoutCart";
@use "./checkoutConfirmation";
@use "../cartModal";
@use "./checkoutAnimation";

main {
  
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 320px;
  align-items: start;
  min-height: 100vh;

  .left {
    min-width: 0;
  }
}

footer {
  margin-top: auto; 
}
//Tablet
@media screen and (max-width: 991px) {
  main {
    padding: 1rem;
  }
}

//Mobile
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right,
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
