#category-section {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#category-container {
  display: flex;
  gap: 1rem;
}

.categoryBox {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
